/* line 2, ../../sass/ui/item_grid.scss */
.item_grid { overflow: hidden; }
/* line 6, ../../sass/ui/item_grid.scss */
.item_grid > li { float: left; width: 50px; height: 50px; background-color: black; margin-right: 1px; margin-bottom: 1px; }
/* line 15, ../../sass/ui/item_grid.scss */
.item_grid > li:hover img { opacity: 1; }
/* line 20, ../../sass/ui/item_grid.scss */
.item_grid > li img { opacity: 0.6; display: block; width: 100%; height: 100%; }
