.context_menu
{
	background-color: rgba( $glow_color, 0.7 );
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 175px;
	
	span
	{
		display: block;
		padding: 0 20px;
		line-height: 30px;
		cursor: pointer;
	}
}