#main_menu
{
	background-color: $primary_color;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	background-image: url( ../ui/main_menu_bg.jpg );
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	
	#main_menu_items
	{
		list-style: none;
		position: absolute;
		bottom: 20%;
		right: 25%;
		
		.main_menu_button
		{
			font-size: 20px;
			text-transform: uppercase;
			line-height: 30px;
			color: white;
			
			&:hover
			{
				color: $primary_color;
			}
		}
	}
	
}