.notification
{
	position: absolute;
	width: 500px;
	font-size: 25px;
	top: 20%;
	left: 50%;
	margin: 0 0 0 -250px;
	overflow: visible;
	white-space: nowrap;
	color: white;
	padding: 10px;
	text-align: center;
}